<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Request Settings</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">Back</ion-button>
        <ion-back-button text="BACK"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
      <ion-list *ngIf="isReady">
        <ion-item>
          <ion-label>Value displayed as</ion-label>
          <ion-select [(ngModel)]="displayMode">
            <ion-select-option *ngFor="let option of DataDisplay | enum" [(value)]="option.index" [disabled]="option.value == 'FLOAT' && !is32bits">
              {{option.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Byte order</ion-label>
          <ion-select [(ngModel)]="byteOrder" [disabled]="!is32bits">
            <ion-select-option *ngFor="let option of ByteOrder | enum" [(value)]="option.index">
              {{option.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Monitoring period</ion-label>
          <ion-input type="number" [(ngModel)]="period" class="right-align"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="saveAndDismiss()">Save</ion-button>
    </ion-content>