ion-content {
    --background: #2D3134;
}

span {
    white-space: pre-line;
}

.logger {
    width: 100%;
    height: 100%;
    padding: 0rem 1rem;
    display: block;
}

.log {
    color: paleturquoise;
}

.error {
    color: red;

}

.info {
    color: lightgray;
}

.text-input {
    color: white;
}

ion-footer {
    background-color: #2D3134 !important;
    border-top: 1px solid lightgray;
}

ion-item {
    background-color: #2D3134;
    --background: #2D3134;
}