<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Modbus</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettingsModal()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="data-table" [scrollY]="true">
  <!-- <p>Last retrieved values</p> -->
  <ion-grid>
    <ion-row class="grid-header sticky-header">
      <ion-col [size]="4" class="center-align">Register#</ion-col>
      <ion-col [size]="8" class="center-align">Value</ion-col>
    </ion-row>
  </ion-grid>
  <app-scroll-table *ngFor="let modbusRead of savedModbusValues; let i = index; trackBy: savedModbusTrackFn"
    keyName="key" valueName="value" showHeader="true" [dataArray]="modbusRead | modbusData"
    [formatFn]="formatToStringFactory(modbus.displayMode, modbusRead.format)"
    [keyFormatFn]="formatToStringFactory(modbus.displayMode,2)" [columnSize]="{key: 4, value: 8}"
    rightSlideButtonText="Delete" [rightSlideButtonStyle]="{'background': 'red'}"
    (rightSlideButtonClick)="deleteLine($event)" leftSlideButtonText="Refresh" (leftSlideButtonClick)="refresh(i)">
  </app-scroll-table>
  <app-scroll-table keyName="key" valueName="value" showHeader="false" [dataArray]="lastModbusRead | modbusData"
    [formatFn]="formatToStringFactory(modbus.displayMode)" [keyFormatFn]="formatToStringFactory(modbus.displayMode,2)"
    [columnSize]="{key: 4, value: 8}" rightSlideButtonText="Keep" (rightSlideButtonClick)="keepLine($event)">
  </app-scroll-table>
</ion-content>
<ion-footer>
  <ion-grid class="clickable smaller-text options-footer">
    <ion-row (click)="openSettingsModal()">
      <ion-col size="1" offset="11">
        <ion-icon name="settings" class="centered color-shade"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="no-overflow color-shade" (click)="openSettingsModal()">
      <ion-col size="2" class="smaller-text">
        Slave:
      </ion-col>
      <ion-col size="4" class="right-align">
        {{modbus.modbusOptions.slave}}
      </ion-col>
      <ion-col size="2" class="smaller-text"> Register:</ion-col>
      <ion-col size="4" class="right-align">{{modbus.modbusOptions.address | register : modbus.registerMode}}</ion-col>
    </ion-row>
    <ion-row class="no-overflow color-shade" (click)="openSettingsModal()">
      <ion-col size="2" class="smaller-text">ObjectType:</ion-col>
      <ion-col size="4" class="right-align">{{modbus.modbusOptions.objectTypeString}}</ion-col>
      <ion-col size="2" class="smaller-text">Format:</ion-col>
      <ion-col size="4" class="right-align">{{modbus.modbusOptions.formatString | trim: '_'}}</ion-col>
    </ion-row>
    <ion-row class="no-overflow color-shade" (click)="openSettingsModal()">
      <ion-col size="3" class="smaller-text">Data length:</ion-col>
      <ion-col size="3" class="right-align">{{modbus.modbusOptions.length}}</ion-col>
      <ion-col size="3" class="smaller-text">Display as:</ion-col>
      <ion-col size="3" class="right-align">{{modbus.displayMode}}</ion-col>
    </ion-row>
    <!-- </ion-grid> -->
    <ion-row>
      <ion-col class="input">
        <ion-input type="number" expand="block" [placeholder]="canSend()? 'Data input' : 'Read only'" class="text-input"
          [disabled]="!canSend()" [(ngModel)]="data" (keyup.enter)="closeKeyboardAndSend(data)" clearInput>
        </ion-input>
      </ion-col>
    </ion-row>
    <!-- <ion-item>   -->
    <!-- <ion-grid class="com-buttons"> -->
    <ion-row class="com-buttons">
      <ion-col size="6">
        <ion-button color="secondary" expand="block" [disabled]="!canSend()" (click)="send(data)">
          SEND <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="secondary" expand="block" (click)="read()">
          READ <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- </ion-item> -->
</ion-footer>