.com-buttons {
  
  margin: .5em auto;
  
  ion-button {
    width: 95%;
    height: 100%;
  }
}

.no-overflow {
  ion-col {
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.smaller-text {
  font-size: 80%;
}

.right-align {
  text-align: right;
  padding-right: 10px;
}

.center-align {
  text-align: center !important;
}

ion-grid {
  text-align: left !important;

}

.options-footer {
  background-color: aliceblue;

  .input {
    background-color: whitesmoke;
  }
}

ion-row.grid-header {
  font-weight: bold;
}

:host {
  --ion-grid-column-padding: 0px;
}

.color-shade {
  // background-color: #A5FFFF;
}

.centered {
  width: 100%;
  height: 100%;
  border-radius: 3em 3em 0em 0em;
}

ion-row.grid-body {
  width: 100%;
  text-align: center !important;
  height: 3rem;
}

ion-col.centered {
  text-align: center !important;
  height: 1rem;
  margin: auto;
}

.no-padding {
  --padding-start: 0px;
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --min-height: 100%;
}

.sticky-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--background);
}