.com-buttons {
    width: 100%;
  }
  
  .no-overflow {
    ion-col {
      word-wrap: normal;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  
  .smaller-text {
    font-size: 80%;
  }
  
  .right-align {
    text-align: right;
    padding-right: 10px;
  }

  .center-align {
    text-align: center !important;
  }
  
  ion-grid {
    text-align: left !important;
  }
  
  ion-row.grid-header {
    font-weight: bold;
  }
  
  :host {
    --ion-grid-column-padding: 0px;
  }