<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshDevices($event)" pullMin="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Devices
      </ion-label>
    </ion-list-header>
    <ng-container *ngFor="let device of devices">
      <ng-container [ngTemplateOutlet]="isConnected(device)? disconnectBlock : connectBlock"
        [ngTemplateOutletContext]="{device: device}">
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button *ngIf="!comService.isScanning" (click)="startScan()" expand="full">
    Start scan
  </ion-button>
  <ion-button *ngIf="comService.isScanning" (click)="stopScan()" expand="full">
    Stop scan
  </ion-button>
</ion-footer>

<ng-template #connectBlock let-device="device">
  <ion-item button color="light" (click)="connect(device)">
    {{device.name}}
  </ion-item>
</ng-template>
<ng-template #disconnectBlock let-device="device">
  <ion-item button color="primary" (click)="disconnect()" detail="true" detailIcon="checkmark-circle">
    {{device.name}}
  </ion-item>
</ng-template>