<ion-grid>
  <ion-item-sliding #slidingCase *ngFor="let dataLine of dataArray; let i=index">
    <ion-item no-padding>
      <ion-row class="grid-body">
        <ion-col [size]="columnSize? columnSize.key : 6" class="centered">
          {{keyFormatFn? keyFormatFn(dataLine[keyName]) : dataLine[keyName]}}
        </ion-col>
        <ion-col [size]="columnSize? columnSize.value : 6" class="centered">
          {{formatFn? formatFn(dataLine[valueName]) : dataLine[valueName]}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item-options *ngIf="rightSlideButtonText" side="end" (ionSwipe)="rightClicked(i, slidingCase)">
      <ion-item-option (click)="rightClicked(i, slidingCase)" [ngStyle]="rightSlideButtonStyle" >{{rightSlideButtonText}}
      </ion-item-option>
    </ion-item-options>
    <ion-item-options *ngIf="leftSlideButtonText" side="start" (ionSwipe)="leftClicked(i, slidingCase)">
      <ion-item-option (click)="leftClicked(i, slidingCase)" [ngStyle]="leftSlideButtonStyle">{{leftSlideButtonText}}
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-grid>